.section {
  z-index: 10;

  width: 100vw;
  position: relative;
  left: 0;
  background-color: $color-gray-bg;

  &:nth-of-type(even) {
    background-color: $color-gray-border;
  }
}

.section.hero {
  z-index: 20;
  .container .section-content {
    display: flex;
    @media (max-width: $layout-breakpoint-sm) {
      flex-direction: column-reverse;
      padding-bottom: 120px;
      text-align: center;
    }
    .hero-text {
      width: 45%;
      @media (max-width: $layout-breakpoint-sm) {
        width: 100%;
      }
      h1 {
      }
      h3 {
        color: $color-gray;
        @include margin-top(2);
        @include margin-bottom(2);
        font-size: $typographic-base-font-size * 1.25;
      }
    }
    .hero-illustration {
      position: relative;
      width: 55%;
      height: 650px;
      @media (max-width: $layout-breakpoint-sm) {
        width: 100%;
        height: 326px;
      }

      .foreground-img {
        position: absolute;
        width: 120%;
        z-index: 10;
        top: -13%;
        left: 25%;
        @media (max-width: $layout-breakpoint-sm) {
          display: relative;
          top: -155px;
          left: 0%;
          width: 100%;
          max-width: 500px;
        }
      }
      .background-img {
        position: absolute;
        width: 100rem;
        max-width: 90rem;
        top: -55%;
        left: -2%;
        z-index: -10;
        @media (max-width: $layout-breakpoint-sm) {
          left: -170px;
          top: -370px;
          width: 1000px;
        }
      }
    }
  }
}

.features-section {
  @include padding(3.5, 0, 3.5, 0);
  margin: 0;
  @media (max-width: $layout-breakpoint-sm) {
    padding-bottom: 120px;
    width: 100%;
    text-align: center;
  }
  .container .section-content {
    .heading {
      width: 65%;
      @media (max-width: $layout-breakpoint-sm) {
        width: 100%;
      }
      .title {
        margin-bottom: 2rem;
      }
      .subtitle {
        font-size: $typographic-base-font-size * 1.35;
      }
    }
  }
}

.blog-roll-section {
  .section-content {
    @include padding(3.5, 0, 3.5, 0);

    h2 {
      @include margin(0, 0, 2, 0);
      @media (max-width: $layout-breakpoint-sm) {
        text-align: center;
      }
    }
  }
}
